* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body.rgb {
  --card-title-border-color: #ffba00;
  --card-color-primary: #ffba00;
  --card-bg-color: #ffe3dc;
  --card-day-color: #000000;
  /*--card-hour-color: #739e82;*/
  --card-hour-color: #08010e;
  --card-date-color: #000000;
}

body {
  background-color: hsl(0, 34%, 26%);
  background-image: url(./assets/back2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
  display: flex;
}

header img #mascote2 {
  text-align: center;

}

header img #mascote1 {
 text-align: left 500px;
}


#cards {
  width: fit-content;
  margin: 52px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}



.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

/*.card img {
  width: 20%;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  */
  


.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 2px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: var(--card-date-color);
}

.card h2 span {
  color: var(--card-day-color);
  font-size: 15px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card ul li img {
  width: 50px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 2px solid #ffba00;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: var(--card-hour-color);
}

.card h2:hover,
.card ul li strong:hover {
  transform: scale(1.4);
  filter: brightness(1.5);
}
.card ul li img:hover {
  transform: scale(2);
}

.text img {
  color: #008cba;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card h2:hover,
.card ul li strong:hover {
  transition: transform 1s;
}

.card ul li img {
  transition: transform 2s;
}

@media (min-width: 400px) {
  #cards {
    max-width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
